<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cricket Matches</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">

</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/playersearch">Player</a></li>
        </ul>
    </nav>
    <h1>Cricket Matches</h1>
    {% for match in data %}
        <div class="match-container" data-id="{{ match.id }}">
            <div class="match-header">
                {% for team in match.teamInfo %}
                    <img src="{{ team.img }}" alt="{{ team.name }} Logo" class="team-img">
                {% endfor %}
                <h2>{{ match.name }}</h2>
            </div>
        </div>
    {% endfor %}

    <script>
        const matchContainers = document.querySelectorAll('.match-container');
        matchContainers.forEach((matchContainer, index) => {
            matchContainer.addEventListener('click', () => {
                const id = matchContainer.getAttribute('data-id');
                window.location.href = `/match/${id}`;
            });
        });
    </script>
    
</body>
</html>
